<!-- <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p> -->
<!-- <app-home></app-home> -->
<ul>
	<li>
		<a href="" [routerLink]="['/empreendimento-com-atributo-numerico']"
    routerLinkActivated="active"
    >Empreendimento com Atributo Numérico
		</a>
	</li>
	<li>
		<a href="" [routerLink]="['/empreendimento-com-atributo-texto']"
    routerLinkActivated="active">Empreendimento com Atributo Texto
		</a>
	</li>
	<li>
		<a [routerLink]="'atributos'" 
    >Inclusão de Atributos e Edição de Máscaras
		</a>
	</li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
